.fcontainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg,#71b7e6,#9b59b6); */
    background: #BCEAD5;
}
/* 
.fcontainer .box{
    position: relative;
    background: #fff;
    padding: 20px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    content: Justify;

} */


.fcontainer .box{
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}

.fcontainer .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
}


.fcontainer .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}

.fcontainer form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin-bottom: 10px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .button input{
    height: 45px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 3px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}

form .button input:hover{
    background: linear-gradient(135deg, #17191a,#9b59b6);
}