<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {{url_for("static",filename = "style.css")}}>
    <link rel="stylesheet" href={{url_for("static",filename = "content.css")}}>
    <link rel="stylesheet" href={{url_for("static",filename = "form.css")}}>
    <link rel="stylesheet" href={{url_for("static",filename = "blog.css")}}>
    <link rel="stylesheet" href={{url_for("static",filename = "login.css")}}>
    <title>Home</title>
</head>

<body>
    <section id="login">
        <header>
            <!-- <a href="#"><img src="images/logo1.png" alt=""></a> -->
            <h4>BOOK FACTORY</h4>
            <ul id="menu">
                <li><b><a href="/">Home</a></b></li>
                <li><b><a href="#login">Login</a></b></li>
                <li><b><a href="#register">Author Register</a></b></li>
                <!-- <li><a href="/adetails">View Author Records</a></li> -->
            </ul>   
        </header>
        <div class="acontainer">
            <div class="box">
                <div class="title">Auther Login</div>
                <form action="/alogin" method="post">
                    <div class="auther-blog">
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="email" name="aemail" id="" placeholder="Email" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            <input type="password" name="apassword" id="" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="abutton">
                        <input type="submit" value="LOGIN">
                    </div><br>
                    <div class="abutton">
                        <input type="reset" value="RESET">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="register">
        <div class="fcontainer">
            <div class="box">
                <div class="title">Ather Registration</div>
                <form action="/ainsertdata" method="post">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">First name</span>
                            <input type="text" name="authorfname" id="" placeholder="first name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Last name</span>
                            <input type="text" name="authorlname" id="" placeholder="last name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="email" name="authoremail" id="" placeholder="email" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            <input type="password" name="authorpassword" id="" placeholder="password" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Mobile</span>
                            <input type="number" name="authormobile" id="" placeholder="mobile" required>
                        </div>
                        <div class="input-box">
                            <span class="details">City</span>
                            <input type="text" name="authorcity" id="" placeholder="city" required>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="REGISTER">
                    </div><br>
                    <div class="button">
                        <input type="reset" value="RESET">
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>