<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for("static",filename="style.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="content.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="form.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="blog.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="login.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="table.css" )}}>
    <title>Add POST</title>
</head>

<body>
    <section id="addblog">
        <header>
            <!-- <a href="#"><img src="images/logo1.png" alt=""></a> -->
            <h4>BOOK FACTORY</h4>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/Author">LOGOUT</a></li>
            </ul>
        </header>

        <div class="body">
            <div class="scontainer">
                <div class="box">
                    <h3>VIEW<br>POST</h3>
                    <a href="/bdetails1"><button class="btn">click here</button></a>
                </div>

                <div class="box">
                    <h3>USER<br>DETAILS</h3>
                    <a href="/udetails"><button class="btn">click here</button></a>
                </div>
            </div>
        </div>


    </section>
    
</body>

</html>